::selection{
  @apply text-white bg-primary;
}
.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  filter: blur(90px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  background: conic-gradient(from 20.34deg at -52.87% 105.23%,#8A61FF -.5deg,#FF9929 50.3deg,#F4CC58 64.84deg,#EBFF00 150deg,#FF9900 243.91deg,#FFD376 290.16deg,#8A61FF 359.5deg,#FF9929 410.3deg);
  z-index: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  @apply text-white bg-primary;
}
.container{
  @apply mx-auto max-w-[1072px];
}
/* #button-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.primary-button {
  @apply relative px-8 py-4 overflow-hidden text-sm font-semibold text-white bg-btn-gray;
}

.primary-button:hover {
  @apply text-black;
}

.primary-button .round {
  @apply rounded-xl bg-white absolute top-[5px] left-[10px] h-0 ;
  animation: scale-down 0.2s forwards;
}

.primary-button.animate .round {
  animation: scale-up 0.5s forwards;
}

.btn-text{
  @apply relative z-[2]
}
@keyframes scale-up {
  to {
      transform: scale(600);
  }
}

@keyframes scale-down {
  from {
      transform: scale(600);
  }
  to {
      ransform: scale(0);
  }
}
/* skills */

.services-ticker-block {
  @apply relative flex items-center overflow-x-hidden;
/* position: relative;
display:flex; 
align-items:center;
overflow-x: hidden; */
}

.skill-text {
@apply inline-block p-0 text-5xl font-bold text-primary;
/* text-shadow:1px 1px 0 #fff; */
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  line-height: 4.5rem;
}
.marquee-container{
  overflow: hidden;
}
.experience .single-experience:nth-child(1){
  @apply border-b-0 border-r-0;
}
.experience .single-experience:nth-child(3){
  @apply border-r-0;
}
.experience .single-experience:nth-child(4){
  @apply border-t-0;
}
.primary-button span {
  transition: width .5s ease-in-out,height .5s ease-in-out;
}
.slick-dots li.slick-active button:before{
  @apply !text-orange !opacity-100 ;
}
.slick-dots li button:before{
  @apply !text-white;
}
.slick-dots{
  @apply !-bottom-[35px];
}
.gradient-text{
  background: radial-gradient(circle at 0 0,#EFC438,#fa7234);
  background-attachment: sticky;
  /* background-position: 50%; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.downloadIcon{
  animation: slowRotate 20s linear infinite;
}
@keyframes slowRotate{
  0%{transform:rotate(0deg)}to{transform:rotate(360deg)}
}