.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  filter: blur(120px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  background: conic-gradient(from 20.34deg at -52.87% 105.23%,#8A61FF -.5deg,#FF9929 50.3deg,#F4CC58 64.84deg,#EBFF00 150deg,#FF9900 243.91deg,#FFD376 290.16deg,#8A61FF 359.5deg,#FF9929 410.3deg);
  z-index: 0;
}

body{
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.container{
  margin-left: auto;
  margin-right:auto;
  max-width: 1072px;
}
.ring{
position: absolute;
height: 30px;
width: 30px;
border: .5px solid #5c90ff;
border-radius: 100%;
transform: translate(-50%, -50%);

}
/* #button-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.primary-button {
  @apply relative px-8 py-4 overflow-hidden bg-btn-gray text-white text-sm font-semibold;
}

.primary-button:hover {
  @apply text-black;
}

.primary-button .round {
  @apply rounded-xl bg-white absolute top-[5px] left-[10px] h-0 ;
  animation: scale-down 0.2s forwards;
}

.primary-button.animate .round {
  animation: scale-up 0.5s forwards;
}

.btn-text{
@apply relative z-[2]
}
@keyframes scale-up {
  to {
      transform: scale(600);
  }
}

@keyframes scale-down {
  from {
      transform: scale(600);
  }
  to {
      ransform: scale(0);
  }
}
/* skills */

.services-ticker-block {
  @apply relative flex items-center overflow-x-hidden;
/* position: relative;
display:flex; 
align-items:center;
overflow-x: hidden; */
}

.skill-text {
@apply p-0 text-4xl inline-block text-primary font-bold;
text-shadow:1px 1px 0 #fff;
  -webkit-text-stroke: 1px #fff;
}

